.carousel-item{
    background-color: rgb(147, 90, 255);
    min-height: 500px;
    
}

.carousel-caption{
    /*background-color: red;*/
    top: 25% !important;
    
}

.flag{
    height: 100px;
    width: auto;

}

.flag-sm{
    height: 60px;
    width: auto;
    border-color: rgb(147, 90, 255);

}

.test{
    width:50px;
    height: 50px;
    background-color:  red;
}

.word-description{
    text-align: left !important;
    
}

.word-description-source{
    font-style: italic;
    text-align: right !important;
    float: right;
    color: rgb(56, 56, 56) !important;
    margin-right: 5%;
}